/* Common practice to ensure consistency in the spacing between elements across different browsers */
* {
    margin: 0;
}

/* HTML height common practice: ensures that the content on the page is displayed within the viewport,
and user's don't have to scroll unnecessarily */
html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #999;
}

p {
    margin: 0.5em 0 0.5em 0;
}

/* makes the header/nav list fixed at the top-left corner */
header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #a493c0;
    padding: 10px;
}